<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Candor Forum" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag :actiontext, :trix, :application, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <nav>
        <h2>Candor Forum</h2>
        <ul class="menu">
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Forums', forums_path %></li>
          <% if signed_in? %>
            <li>Signed in as: <%= current_user.email %>
              <%= button_to 'Sign out', sign_out_path, method: :delete %>
            </li>
          <% else %>
            <li><%= link_to 'Sign in', sign_in_path %></li>
          <% end %>
        </ul>
      </nav>
      <div id="flash">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </div>
    <footer>
      <p>&copy; <%= Time.current.year %> Candor Forum. All rights reserved.</p>
    </footer>
  </body>
</html>
